:root {
    --main-bg-color: #ef5661;
}


@font-face {
    font-family: IRansans;
    font-style: normal;
    font-weight: 300;
    src: url('../font/IRANSansWeb(FaNum)_Light.eot');
    src: url('../font/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
    url('../font/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
    url('../font/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../font/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
body{
    font-family: IRansans !important;
    background: #f5f5f5 ;
    color: #515151;
}
header{
    background: white;
}
a{
    color:#515151;
}
a:hover{
    text-decoration:none;
    color:#515151;
}
.btn-mycolor {
    color: #fff;
    background-color:  var(--main-bg-color);
    border-color:  var(--main-bg-color);
}
.top-header{
    background-image: url("../img/images.jfif");
    height: 50px;
}
.result-category{
    border: 1px solid #dedede;
    background: white;
    box-shadow: 0 12px 12px 0 hsla(0,0%,71%,.11);
}
/*-------------search---------------*/
.my-search .form-control ,.my-search .btn{
    border-radius: 0;
}.my-search .form-control{
    background: #eee;
 }
/*-------------end----------------*/
.form-control:focus{
    box-shadow:none !important;
    border-color:#ced4da;
}
/*------------login/reg-------------*/
.circle{
    top: 25px;
    position: absolute;
    left: 106.5px;
    background: white;
    border-radius: 25px;
    width: 20px;
    height: 20px;
}
.in_circle{
    top: 28px;
    position: absolute;
    left: 110px;
    border: 2px solid green;
    border-radius: 25px;
    width: 14px;
    height: 14px;
}
.log-reg .btn{
    border-radius: 0;
}
@media(max-width: 993px){
    .in_circle{
	left:94px;
    }
    .circle{
	left:90.5px;
    }
}
/*------------end----------------*/
/*-------shoppinf basket---------*/
.shopping-count{
    width: 20px;
    height: 20px;
    font-size: 15px;
}
.shopping-cart .btn-outline-info:hover{
    background-color:white;
}



/*---------menu----------------*/

.navbar .dropdown-menu div[class*="col"] {
    margin-bottom:1rem;
}

.navbar .dropdown-menu {
    border:none;
    border-radius: 0  ;
    background-color:#fff !important;
    border: 1px solid #e0e0e0;
    border-radius: 0px 0 5px 5px;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top:0px;
        padding-bottom:0px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */


    /* makes the dropdown full width  */
    .navbar .dropdown {position:static;}

    .navbar .dropdown-menu {
        width:97.9%;
        left:0;
        right:0;
        /*  height of nav-item  */
        top:40px;
        margin: 0 auto;
    }




    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {

    }


}
.navbar .nav-item a{
    color: white !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color:#3ec3d8 !important;
}
.navbar-nav{
    padding-right: 0;
}
.menu-place{
    background: #616161;
}
.dropdown-toggle::after{
   display: none;
}
.hvr-underline-from-center:before{
    background: #ef5661 !important;
    height: 2px !important;
}
ul.navbar-nav >li.nav-item:hover{
    z-index: 1;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21);
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dropdown-menu .nav .nav-item > .nav-link{
    color: #1ca2bd !important;
    font-size: .857rem;
    font-weight: 500;
    margin-bottom: -10px;
}

.dropdown-menu .nav .nav-item > .link-subtitle{
    color: #4a5f73 !important;
}
.dropdown-menu .nav .nav-item > .link-subtitle:hover{
    font-weight: bolder;
}
/*----end menu*/
.result-category a{
    color:#545454;
    font-size: 14px;
}
.result-category a:hover{
    color:#00bfd6;
    text-decoration: none;
}
.header-list{
    border: 1px solid #ebe9e9;
    position: relative;
    padding: 7px 44px 7px 130px;
    background: white;
}
/*.header-list:before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Brands";
    content:"\f0c9";
    right: 13px;
    font-weight: 900;
    color: #cecece;
}*/
.header-list .fa-bars{
    position: absolute;
    right: 10px;
    top: 35%;
    color: #cecece;
}
.header-list ul{
    margin-bottom: 0px;
}
.filter:hover{
    background: #ece9e9;
    cursor: pointer
}
.filter-active{
    background: #02bfd6;
    color: white;
}

.header-list .fa-list{
    position: absolute;
    left: 30px;
    top: 16%;
    color: #cecece;
    cursor: pointer;
    border: 1px solid #cecece;
    padding: 10px;
    border-radius: 5px;
}
.header-list .fa-th-large{
    position: absolute;
    left: 80px;
    top: 16%;
    color: #000;
    cursor: pointer;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
}
.prodct-box{
    border:1px solid #ebe9e9;
    background: white;
    right: 0;
}
.prodct-box:hover{
    border: 0;
    -webkit-box-shadow: 0px 0px 9px 2px rgba(227,227,227,1);
-moz-box-shadow: 0px 0px 9px 2px rgba(227,227,227,1);
box-shadow: 0px 0px 9px 2px rgba(227,227,227,1);
    z-index: 1;
    transition: 500ms;
}

.prodct-box:hover .compare,.prodct-box:hover .shop{
    display: block;
     transition: 500ms;
}
.prodct-box:hover .rate{
    display: none;
     transition: 500ms;
}

li.yellow, li.black, li.grey{
    width: 10px;
    height: 10px;
    margin: 2px 0;
}
li.yellow{
     background: #ffd701;
}  
li.black{
    background: #808080;
}
li.grey{
    background: #bfbfbf;
}
.color-property{
    position: absolute;
}
.compare{
    color: #b5b5b5;
    position: absolute;
    bottom:65px;
    display: none;
}
.rate-shop{
    position: absolute;
    right: 0;
    width: 100%;
    bottom: 0;
}
.rate{
    background: #ececec;
    font-size: 12px;

}
.shop{
    display: none;
    background: white;
}
.shop i{
    font-size: 20px;
    color: #e4e3e3;
}

/*-----------index owlcarousel-------*/
.owl-carousel .owl-nav button.owl-next{
    position: absolute !important;
    top:  40%;
    left: -5px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: #eee !important;
    box-shadow: -5px -3px 5px 0px rgba(0, 0, 0, 0.02) !important;
    font-size: 30px !important;
    padding: 2px 16px 0px !important;
    transform: rotate(180deg) !important;


}
.owl-carousel .owl-nav button.owl-prev{
    position: absolute !important;
    top: 40%;
    right: -5px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background: #eee !important;
    box-shadow: -5px -3px 5px 0px rgba(0, 0, 0, 0.02) !important;
    font-size: 30px !important;
    padding: 2px 16px 0px !important;
    transform: rotate(180deg) !important;

}
.owl-theme .owl-nav .disabled{
    display:none;
}
.owl-theme .owl-nav [class*='owl-']:hover{
    color: grey !important;

}
.owl-carousel .item .item_image{
    width: 300px;
    margin: auto;

}
.content_owla-carousel{
    background: white;
    -webbkit-box-shadow: 0px 0px 15px 0px rgba(224,221,224,1);
    -moz-ox-shadow: 0px 0px 15px 0px rgba(224,221,224,1);
    box-shadow: 0px 0px 15px 0px rgba(224,221,224,1);
    border: 1px solid #eee;
}
.title{
    border-bottom-color: red !important;
    padding-bottom: 21px;
}
.detail{
    font-size: 12px;
}
.item-hover:hover{
    background: white;
    -webbkit-box-shadow: 0px 0px 15px 0px rgba(224,221,224,1);
    -moz-ox-shadow: 0px 0px 15px 0px rgba(224,221,224,1);
    box-shadow: 0px 0px 15px 0px rgba(224,221,224,1);
    border: 1px solid #eee;
}
.item_brand{
    width: 200px;
    margin: auto;
}
.item_blog{
    width: 250px;
    margin: auto;
}
.date{
    font-size: 12px;
    color: rgb(174, 175, 176);
    text-align: right;
}
.blog_content{
    text-align: right;
    font-size: 13px;
}
.content_blog{
    background: white;
}
.category{
    position: absolute;
    top: 25px;
    left: 40px;
    padding: 2.5px 10px;
    background: #0eabef;
    border-radius: 15px;
    color: white;
    font-size: 13px;
    display: none;
}
.category_list{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2.5px 10px;
    background: #0eabef;
    border-radius: 15px;
    color: white;
    font-size: 13px;
    display: none;
}
.item-hover:hover .category ,.prodct-box:hover .category_list{
    display: block;
}

.address-information{
    border: 1px solid #e7e7e7;
    margin-top: 30px;
    padding: 10px 15px;
    border-right: 3px solid #8dd4dc;
    background:white;
}

.cart{
    -webkit-box-shadow: 0px 0px 16px 0px rgba(214,214,214,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(214,214,214,1);
    box-shadow: 0px 0px 16px 0px rgba(214,214,214,1);
}

.f-title{
    border-bottom: 2px solid #ef5661;
}
footer{
    background: #eceff1;
}